@font-face {
    font-family: "DMSans";
    src: url('LobaoCare/fonts/DMSans.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DMSans';
}

/* styling section main-info */

section.main-info {
    padding: 0 clamp(0rem, 20vw, 24rem);
}

h1.title {
    color: #212529;
    font-size: clamp(1.6rem, 2.6vw, 3.125rem);
    line-height: 1.3;
    max-width: 42rem;
}

.mini-title {
    text-decoration: none;
    font-size: 0.875rem;
    text-transform: uppercase;
    color: #00856F;
}

div.main-info-contents {
    display: grid;
    grid-template-columns: (2, 1fr);
    justify-content: center;
    grid-template-rows: auto auto;
    margin-top: 5rem;
}

div.top-main-info {
    display: flex;
    gap: clamp(3rem, 4vw, 9rem);
}

div.main-info-texts {
    display: flex;
    flex-direction: column;
    gap: clamp(0.4rem, 1.667vw, 2rem);
    max-width: 32.552vw;
    margin-top: 2.3rem;
    margin-bottom: clamp(1rem, 2.5vw, 3rem);
    padding-left: 1rem;
}

.main-info-texts .welcome {
    text-transform: uppercase;
    font-size: clamp(0.4rem, 17.24vw, 1.25rem);
}

.main-info-texts .main-desc {
    color: #495057;
    font-weight: bold;
    max-width: 35.625rem;
    font-size: clamp(1rem, 0.938vw, 1.125rem);
}

div.main-dog {
    display: flex;
    width: clamp(10rem, 33.333vw, 40rem);
    height: 100%;
    align-items: flex-end;
}

.main-dog img {
    object-fit: cover;
    width: 100%;
}

div.main-data {
    display: flex;
    background-color: #D2E0C7;
    justify-content: center;
    align-items: center;
    justify-self: center;
    border-radius: 0.938rem;
    width: clamp(38rem, 60.417vw, 72.5rem);
    height: clamp(7rem, 9.323vw, 11.188rem);
    gap: clamp(2rem, 3.75vw, 4.5rem);
}

div.main-data div {
    display: flex;
    flex-direction: column;
}

.main-data .main-amount {
    text-align: center;
    font-size: clamp(1rem, 3.125vw, 3.75rem);
    font-weight: bold;
}

.main-data .main-data-desc {
    font-size: clamp(0.9rem, 1.042vw, 1.25rem);
    color: #00856F;
}

.main-data .division {
    background-color: #00856F;
    height: 5.188rem;
    width: 1px;
}

.main-info .services-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23.25rem;
    height: 5.875rem;
    background-color: #84AE61;
    border-radius: 0.938rem;
    margin: 4rem auto;
}

.services-button a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.875rem;
}

/*styling section localization*/

.attend-pets {
    display: flex;
}

div.localization-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


.localization-contents iframe {
    margin-top: 1.5rem;
    margin-bottom: 4rem;
    width: clamp(48rem, 47.344vw, 56.813rem);
    height: 38.412rem;
}


@media (max-width: 650px) {

    h1.title {
        line-height: 1;
    }


    section.main-info {
        padding: 0;
    }

    div.main-info-contents {
        display: flex;
        margin-top: clamp(0.5rem, 1vw, 1rem);
    }

    div.main-info-contents {
        flex-direction: column;
    }

    div.top-main-info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: clamp(1rem, 1vw, 4rem);
    }

    div.main-info-texts {
        max-width: 100%;
        padding: 0 1.5rem;
        text-align: center;
        gap: 1rem;
    }

    div.main-data {
        text-align: center;
        display: flex;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
        width: 95%;
        gap: clamp(2rem, 1vw, 4rem);
    }


    .main-data .main-data-desc {
        max-width: 20vw;
    }

    .main-data .division {
        display: none;
    }
    
    .main-info .services-button {
        width: clamp(18rem, 19.375vw, 23.25rem);
        height: clamp(5rem, 4.896vw, 5.875rem);
    }
    
    .services-button a {
        font-size: clamp(1.4rem, 1.563vw, 1.875rem);
    }

    .localization-contents .title {
        text-align: center;
    }

    .localization-contents iframe {
        width: 95%;
    }



}
