:root {
    --background-color: #f7f9f9;
    --background-color-secondary: #ffffff;
    --circulo-icon: #e5e5e5;
    --color-category-title: #212529;
    --green-color: #84ae61;
}

@font-face {
    font-family: "DMSans";
    src: url(/assets/fonts/DMSans.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: "DMSans", sans-serif;
    background-color: var(--background-color);
}

main {
    padding: 0 6.25rem 0 6.25rem;
}

/* Cards de Vanatages */
.scroll-cards {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    gap: 1.8rem;
    overflow: auto;

    /* TODO: Mudar espaçamento depois de colocar a navbar */
    margin: 50px 0 50px 0;
}

.container::-webkit-scrollbar {
    display: none;
}

.card-vantagens {
    min-width: 11rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem 0.75rem;
    background-color: var(--background-color-secondary);
    border-radius: 1rem;
}

.card-vantagens .circo-icone {
    border-radius: 100%;
    width: 3.3rem;
    height: 3.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--circulo-icon);
}

.card-vantagens .texto-card {
    max-width: 6.6rem;
}

.card-vantagens .texto-card h3 {
    font-size: 0.8rem;
    font-weight: bold;
    margin: 0 0 4px 0;
}

.card-vantagens .texto-card p {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 0.9rem;
    color: #333333;
    margin: 0;
}

/* Título Das Categorias de Produtos  */
.titulo-categoria {
    font-size: 3rem;
    font-weight: bold;
    color: var(--color-category-title);
    margin: 0;
    margin-bottom: 2rem;
}

/* Cards de Produtos */
.container-produtos {
    display: flex;
    gap: 1.8rem;
    flex-wrap: wrap;
}

.card-produto {
    display: flex;
    flex-direction: column;
    width: 13.4rem;
    padding: 1.4rem 0.8rem 1.4rem 0.8rem;
    background-color: var(--background-color-secondary);
    border-radius: 10px;
}

.card-produto img {
    width: 8.75rem;
    height: 12rem;
    display: flex;
    margin-bottom: 1.5rem;
    justify-content: center;
}

.card-produto div:first-child,
.comprar {
    display: flex;
    justify-content: center;
}

.card-produto p {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 130%;
    margin: 0 0 1rem 0;
    max-width: 11.25rem;
}

.card-produto h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
}

.card-produto .avaliacao {
    display: flex;
    gap: 10px;
    align-items: center;
}

.card-produto .avaliacao span {
    font-size: 0.8rem;
    font-weight: bold;
}

.card-produto button {
    width: 100%;
    height: 3.5rem;
    border-radius: 1rem;
    background-color: var(--green-color);
    color: var(--background-color-secondary);
    border: none;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 1.5rem;
}

.card-produto button:hover {
    background-color: #6e9d4f;
    transition: background-color 0.3s;
}
