:root {
    --background-color: #f7f9f9;
    --background-color-secondary: #ffffff;
    --circulo-icon: #e5e5e5;
    --color-category-title: #212529;
    --green-color: #84ae61;
    --lef-and-next-button-background: #d9d9d9;
}

@font-face {
    font-family: "DMSans";
    src: url(../../fonts/DMSans.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: "DMSans", sans-serif;
    background-color: var(--background-color);
}

main {
    padding: 0 5% 0 5%;
    margin-bottom: 4rem;
}

/* Cards de Vanatages */
.scroll-cards {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    gap: 1.8rem;
    overflow: auto;

    margin: 3rem 0 3rem 0;
}

.container::-webkit-scrollbar {
    display: none;
}

.card-vantagens {
    min-width: 11rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem 0.75rem;
    background-color: var(--background-color-secondary);
    border-radius: 1rem;
}

.card-vantagens .circo-icone {
    border-radius: 100%;
    width: 3.3rem;
    height: 3.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--circulo-icon);
}

.card-vantagens .texto-card {
    max-width: 6.6rem;
}

.card-vantagens .texto-card h3 {
    font-size: 0.8rem;
    font-weight: bold;
    margin: 0 0 4px 0;
}

.card-vantagens .texto-card p {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 0.9rem;
    color: #333333;
    margin: 0;
}

/* Título Das Categorias de Produtos  */
.titulo-categoria {
    font-size: 3rem;
    font-weight: bold;
    color: var(--color-category-title);
    margin: 0;
    margin-bottom: 2rem;
    margin-left: 1rem;
}

/* Cards de Produtos */
.container-produtos {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.container-produtos .carrossel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 100%;
    gap: 1.8rem;
    margin-bottom: 3rem;
}

.container-produtos .carrossel::-webkit-scrollbar {
    display: none;
}

.container-produtos .carrossel .carregando {
    width: 3.8rem;
    margin: auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container-produtos .anterior-proximo {
    min-width: 3.8rem;
    height: 3.8rem;
    border-radius: 100%;
    background-color: var(--lef-and-next-button-background);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}

.container-produtos .anterior {
    left: 0;
    margin-right: 0.5rem;
}

.container-produtos .proximo {
    right: 0;
    margin-left: 0.5rem;
}

.container-produtos .anterior-proximo:hover {
    background-color: #c2c2c2;
    transition: background-color 0.3s;
}

.card-produto {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 13.4rem;
    padding: 1.4rem 0.8rem 1.4rem 0.8rem;
    background-color: var(--background-color-secondary);
    border-radius: 10px;
}

.card-produto img {
    width: 8.75rem;
    height: 12rem;
    display: flex;
    margin-bottom: 1.5rem;
    justify-content: center;
}

.card-produto div:first-child,
.comprar {
    display: flex;
    justify-content: center;
}

.card-produto p {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 130%;
    margin: 0 0 1rem 0;
    max-width: 13rem;
    min-height: 4.875rem;
}

.card-produto h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
}

.card-produto .avaliacao {
    display: flex;
    gap: 10px;
    align-items: center;
}

.card-produto .avaliacao span {
    font-size: 0.8rem;
    font-weight: bold;
}

.card-produto button {
    width: 100%;
    height: 3.5rem;
    border-radius: 1rem;
    background-color: var(--green-color);
    color: var(--background-color-secondary);
    border: none;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 1.5rem;
}

.card-produto button:hover {
    background-color: #6e9d4f;
    transition: background-color 0.3s;
}

@media screen and (min-width: 320px) and (max-width: 715px) {
    .titulo-categoria {
        font-size: 2rem;
        text-align: center;
    }

    .container-produtos .anterior-proximo {
        display: none;
    }

    .card-produto {
        width: 10rem;
    }

    .card-produto img {
        width: 7.75rem;
        height: 11rem;
    }

    .card-produto p {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 1500px) {
    main {
        padding: 0 10% 0 10%;
    }
}
