header {
    display: flex;
    justify-content: space-between;
    background-color: #84ae61;
    height: 92px;
    padding: 0 7vw;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.left-navbar {
    display: flex;
    align-items: center;
}

.left-navbar a {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    width: clamp(40px, 4.2vw, 67px);
}

.lobin {
    width: 15vw;
    width: clamp(200px, 15vw, 267px);
}

.right-navbar {
    display: flex;
    align-items: center;
}

.right-navbar-items {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style-type: none;
}

.right-navbar-items a {
    color: white;
    text-decoration: none;
}

.right-navbar-items a:hover {
    color: #ffc421;
    text-decoration: none;
}

.right-navbar-items a.active {
    border-bottom: 3px solid white;
}

#schedule-button {
    font-size: 14px;
    border: solid white 1px;
    border-radius: 40px;
    padding: 13px 25px;
}

#schedule-button:hover {
    background-color: #9dbb85;
    color: #fff8e4;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 33px;
    height: 27px;
    cursor: pointer;
    margin-top: 5px;
}
.hamburger .bar {
    width: 100%;
    border-radius: 4px;
    height: 5px;
    background-color: white;
}

@media (max-width: 1300px) {
    header {
        display: flex;
        justify-content: space-between;
    }

    .logo {
        display: none;
    }

    .start-link {
        display: none;
    }

    .feedbacks-link {
        display: none;
    }
}

@media (max-width: 1100px) {
    .products-link {
        display: none;
    }

    .services-link {
        display: none;
    }

    #schedule-button {
        margin-right: 2px;
    }
}

@media (max-width: 724px) {
    .products-link,
    .services-link,
    .feedbacks-link {
        display: flex;
    }
    .right-navbar-items {
        position: absolute;
        top: 77px;
        right: 0;
        width: 50%;
        height: 0;
        background-color: #84ae61;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 0 0 0 10px;
    }

    .right-navbar-items.active {
        height: auto;
        padding: 0 0 60px 0;
        z-index: 1;
    }

    .right-navbar-items li {
        padding: 20px 0;
    }

    #schedule-button {
        border: none;
    }

    .hamburger {
        display: flex;
    }
}

@media (max-width: 400px) {
    #schedule-button {
        color: transparent;
        font-size: 16px;
        padding-right: 20vw;
    }

    #schedule-button::after {
        content: "Agendar";
        color: white;
        font-size: 16px;
    }
}

.right-navbar-items {
    transition: all 0.2s linear;
}
