@font-face {
    font-family: DMSans;
    src: url(/assets/fonts/DMSans.ttf);
}

:root {
    --background-color: #f7f9f9;
    --verde-principal: #00856f;
    --verde-secundario: #84ae61;
    --texto-branco: #ffffff;
    --preto-secundario: #495057;
    --verde-card: #d2e0c7;
    --verde-footer: #00856f;
}

* {
    font-family: DMSans;
}

body {
    margin: 0;
    background-color: var(--background-color);
}

main {
    padding-left: 80px;
    padding-right: 80px;
}

.title {
    max-width: 33rem;
    justify-content: center;
    display: flex;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.title h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

form {
    max-width: 53rem;
    margin: auto;
    margin-top: 3rem;
}

form .input-group {
    display: flex;
    gap: 4rem;
    margin: 2.5rem 0 2.5rem 0;
}

form .input-group .group {
    width: 90%;
    gap: 3rem;
    display: flex;
    flex-direction: column;
}

form .input-label {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 0.5rem;
}

form .input-label label {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 5px;
}

form .input-label small {
    position: absolute;
    font-size: 1rem;
    top: 100%;
    color: #f32d2d;
    font-weight: bold;
    margin-left: 5px;
    visibility: hidden;
}

form .input-label span {
    color: #f32d2d;
    margin-left: 3px;
}

form .input-label input,
select {
    background-color: var(--texto-branco);
    padding: 0 0.7rem 0 0.7rem;
    height: 3rem;
    border: 1px solid #ced4da;
    border-radius: 1rem;
    font-size: 1.1rem;
    font-weight: 500;
}

form .input-label input:focus,
select:focus {
    outline: none;
    border: 1px solid var(--verde-principal);
}

form .input-label div {
    display: flex;
    justify-content: space-between;
}

.time-slot input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.time-slot label {
    background-color: var(--texto-branco);
    width: 3rem;
    height: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: solid 1px var(--preto-secundario);
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1.5rem;
    background-color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
}
.time-slot input:checked + label {
    background-color: var(--verde-secundario);
    border: 1px solid var(--verde-secundario);
    color: var(--texto-branco);
}
.time-slot label:hover {
    background-color: #f3f4f6;
}

form .input-label option {
    font-size: 1.2rem;
    font-weight: 500;
}

form .button-agendar {
    cursor: pointer;
    width: 11rem;
    height: 4rem;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: var(--verde-secundario);
    border: none;
    color: var(--texto-branco);
    border-radius: 1rem;
    align-items: center;
    margin: 0 auto 5rem auto;
    display: flex;
    justify-content: center;
}

form .button-agendar:hover {
    background-color: var(--verde-principal);
    transition-duration: 400ms;
}

form .input-label.error input,
form .input-label select.error {
    border-color: #f32d2d;
}

form .input-label.success input,
form .input-label select.success {
    border-color: #2da32d;
}
