
/*ESTILO GERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

@font-face {
    font-family: "DMSans";
    src: url(../../fonts/DMSans.ttf);
}

body{
    background-color: #f7f9f9;
    height: 100vh;
}

/* ESTILO MAIN */

.services-cards{
    background-color: white;
    border-radius: 8px;
    border: solid 1px #dce9e2;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    min-height: 12rem;
    margin: 20px;
    width: 300rem;
    width: 100%;
    text-align: left;
}

.main-tittle{
    font-size: 15pt;
    padding-left: 25%;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-right: 25%;
    text-align: center;
    color: #333;
}

.painel-cards{
    padding-left: 8%;
    padding-right: 8%;
    display:flex;
    align-items: center;
    justify-content: space-between; 

}

h2{
    padding-top: 7px;
    padding-bottom: 21px;
    font-size: 23px;
    font-weight: bolder;
}

p{
    font-size: 16px;
    font-weight:normal;
}

@media (max-width: 1150px) {
    .painel-cards {
        flex-direction: column;
        align-items: center;
    }

    .main-tittle{
        font-size: 12pt;
    }
}

@media (max-width: 768px) {
    .main-tittle{
        font-size: 8pt;
    }
}
@media (min-height: 1000px ) and (max-width: 1150px) {
    .painel-cards{
        height: 29vh;
    }
}

@media (min-height: 1200px ){
    .painel-cards{
        height: 30vh;
    }

    .services-cards{
        height: 20rem;
    }
}
